@font-face {
  font-family: "minecraft";
  src: url('https://fonts.googleapis.com/css2?family=Palette+Mosaic&family=Roboto:wght@100;300;400;500&display=swap');
}

body {
  margin: 0;
  font-family: minecraft
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

